<!doctype html>
<html>
  <head>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Mattia Astorino | Design & Code" %></title>
    <meta name="description" content="I'm a 27-year-old designer and developer guy born in Italy, started with far in 2004 with a lot of passion, now, after 11 years, I have the same passion.">

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="author" content="Mattia Astorino">
    <meta name="Copyright" content="Copyright © 2016">
    <!-- Mobile and optimization metatags -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="width">
    <meta name="mobile-web-app-capable", content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Mattia Astorino">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <!-- Social metatags -->
    <meta property="og:title" content="Astorino Mattia" >
    <meta property="og:image" content="http://equinsuocha.io/equinsuocha.jpg">
    <meta property="og:url" content="https://equinsuocha.io" >
    <meta property="og:site_name" content="Astorino Mattia" >
    <meta property="og:description" content="I'm a 27-year-old designer and developer guy born in Italy, started with far in 2004 with a lot of passion, now, after 11 years, I have the same passion." >

    <link rel="apple-touch-icon" href="/touch-icon.png" >
    <link rel="icon" type="image/png" href="/touch-icon.png" >

    <%= stylesheet_link_tag :main %>
  </head>

  <body class="<%= page_classes %>">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="position: fixed;">
      <defs>
        <filter id="glitch" x="0" y="0">
          <feColorMatrix in="SourceGraphic" mode="matrix" values="1 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 0" result="r" />
          <feOffset in="r" result="r" dx="-5" dy="0">
            <animate attributeName="dx" attributeType="XML" values="-1; .5; 3; -2; .4; .5; 2; 1; -.5; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0;" dur=".5s" repeatCount="indefinite"/>
            <animate attributeName="dy" attributeType="XML" values="2; -1; .4; 2; 1; 3; -.5; 2; 1; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0;" dur="1s" repeatCount="indefinite"/>
          </feOffset>
          <feColorMatrix in="SourceGraphic" mode="matrix" values="0 0 0 0 0  0 1 0 0 0  0 0 0 0 0  0 0 0 1 0" result="g"/>
          <feOffset in="g" result="g" dx="-5" dy="0">
            <animate attributeName="dx" attributeType="XML" values="0; 0; 0; 0; 0; 0; 0; 0; 2; -1; .4; 2; 1; 3; -.5; 2; 1; 0; 0; 0; 0; 0; 0; 0; 0;" dur="1.5s" repeatCount="indefinite"/>
            <animate attributeName="dy" attributeType="XML" values="0; 0; 0; 0; 0; 0; 0; 0; -1; .5; 3; -2; .4; .5; 2; 1; -.5; 0; 0; 0; 0; 0; 0; 0; 0;" dur="1s" repeatCount="indefinite"/>
          </feOffset>
          <feColorMatrix in="SourceGraphic" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 1 0 0  0 0 0 1 0" result="b"/>
          <feOffset in="b" result="b" dx="5" dy="0">
            <animate attributeName="dx" attributeType="XML" values="0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 2; -1; .4; 2; 1; 3; -.5; 2; 1;" dur="0.35s" repeatCount="indefinite"/>
            <animate attributeName="dy" attributeType="XML" values="0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; 0; -1; .5; 3; -2; .4; .5; 2; 1; -.5;" dur="0.35s" repeatCount="indefinite"/>
          </feOffset>
          <feBlend in="r" in2="g" mode="screen" result="blend" />
          <feBlend in="blend" in2="b" mode="screen" result="blend" />
        </filter>
      </defs>
    </svg>

    <%= yield %>

    <script src="https://cdn.jsdelivr.net/particles.js/latest/particles.min.js"></script>
    <%= javascript_include_tag :main %>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-10572528-8');ga('send','pageview');
    </script>
  </body>
</html>