<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/tag') %>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate', date_format: 'MMMM Do, YYYY' }) %>
    </div>
    <% if (page.featured_image){ %>
      <img class="featured-image"
          itemprop="image"
          draggable="false"
          src="<%- page.featured_image %>">
    <% } %>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
<%- partial('_partial/comments') %>
