<ul>
  <li><a class="icon" rel="noopener" href="http://www.facebook.com/sharer.php?u=<%= page.permalink %>" target="_blank" aria-label="Share on Facebook" onclick="window.open(this.href,'',' scrollbars=yes,menubar=no,width=555,height=600,resizable=yes,toolbar=no,location=no,status=no'); return false;"><i class="fab fa-facebook <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" rel="noopener" href="https://twitter.com/intent/tweet?url=<%= page.permalink %>&text=<%= page.title %>" target="_blank" aria-label="Share on Twitter" onclick="window.open(this.href,'',' scrollbars=yes,menubar=no,width=555,height=300,resizable=yes,toolbar=no,location=no,status=no'); return false;"><i class="fab fa-twitter <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" rel="noopener" href="http://www.linkedin.com/shareArticle?url=<%= page.permalink %>&title=<%= page.title %>" onclick="window.open(this.href,'',' scrollbars=yes,menubar=no,width=555,height=600,resizable=yes,toolbar=no,location=no,status=no'); return false;"><i class="fab fa-linkedin <%= icon_class_name %>" aria-hidden="true"></i></a></li>
  <li><a class="icon" rel="noopener" href="https://getpocket.com/save?url=<%= page.permalink %>&title=<%= page.title %>"><i class="fab fa-get-pocket <%= icon_class_name %>" aria-hidden="true"></i></a></li>
</ul>
